BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 88
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: Never
IndentCaseLabels: true
AlwaysBreakAfterReturnType: None
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false