---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-*,
  portability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: snake_case
  - key: readability-identifier-naming.FunctionCase
    value: PascalCase
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StructCase
    value: PascalCase